.slide {
  position: relative;
  z-index: 2;
  height: 100%;
  margin-top: 2rem;
  margin-right: 1rem;
}

.blur{
  position: absolute;
  height: 42%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 149, 110, 0.2) ;
  backdrop-filter: blur(6px);
}

.img-wrapper img {
  border-radius: 10px;
}

.info-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  z-index: 2;
  color: var(--white);
  font-weight: 300;
  width: 100%;
}

h4 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}

.info-wrapper .title {
  font-size: 16px;
  margin-bottom: 10px;
}

.info-wrapper .skills {
  display: inline-block;
  padding: 4px 15px;
  border-radius: 8px;
  margin: 5px 8px 5px 0;
  height: 100%;
  background-color: var(--secondary);
  color: var(--white);
}

.info-wrapper .links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;

}

.info-wrapper .links p {
  cursor: pointer;
}

.info-wrapper .links p:first-of-type:hover{
  text-decoration: underline;
}

.info-wrapper .links p:last-of-type {
  background-color: var(--primary);
  border-radius: 10px;
  border: 1px solid var(--light-primary);
  padding: 4px 8px;
  color: var(--white);
  font-weight: 600;
}

.info-wrapper .links p:last-of-type:hover {
  background-color: var(--light-primary);
  transition: 1s;
}

