footer {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin: 10rem 3rem 3rem 3rem;
}

footer img {
  width: 44px;
  cursor: pointer;
}

footer img:hover {
  filter: saturate(220%);
  transition: .5s;
}

@media screen and (max-width: 800px) {
  footer{
    margin: 3rem 0;
    gap: 2rem;
    justify-content: center;
  }

  footer img {
    width: 36px;
  }
}
