.container {
  width: 60%;
}

h3 {
  font-weight: 400;
}

.new-post h4 {
  margin: 5rem 0 3rem 0;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}

span {
  color: var(--primary)
}

.new-post {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 5rem;
}


.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posts button {
  margin-top: 5rem;
  width: 300px;
  height: 45px;
  font-size: 24px;
  color: var(--primary);
  background-color: #FFCEBC;
  border: 1px solid var(--primary);
}

.posts button:hover {
  color: white;
  background-color: var(--primary);
}

