<app-header></app-header>
<app-search-bar placeholder="Pesquise por títulos ou conteúdos" (onChange)="searchPosts($event)"></app-search-bar>

<section class="container">
  <h3 class="container">Categorias:</h3>
  <app-categories (onChange)="updateSelectedCategories($event)"></app-categories>
</section>

<section class="new-post">
  <h4><span>Tem alguma dúvida? </span>Inicie uma discussão no nosso fórum!</h4>
  <app-post-creator></app-post-creator>
</section>

<section class="posts">
  <app-forum-post *ngFor = "let post of filteredPosts" [post]="post"></app-forum-post>
  <div *ngIf="noResults" class="no-results">
    <img src="assets/img/laranjo.png">
    <p>Desculpe, não encontramos nenhum post com essa categoria.</p>
  </div>
</section>

<app-footer></app-footer>
