<app-header></app-header>
<app-search-bar placeholder="Encontre tópicos"></app-search-bar>

<section class="container">
  <h3>Categorias:</h3>
  <app-categories></app-categories>
</section>

<section class="new-post">
  <h4><span>Tem alguma dúvida? </span>Inicie uma discussão no nosso fórum!</h4>
  <app-comment-box placeholder="Digite aqui a sua dúvida"></app-comment-box>
</section>

<section class="posts">
  <app-forum-post *ngFor = "let post of posts" [post]="post"></app-forum-post>
  <button>Ver mais</button>
</section>

<app-footer></app-footer>
