<header class="container">
  <div class="logo">
    <a routerLink="/"><h1>Technical <span>Share</span></h1></a>
  </div>
  <div class="header-wrapper">
    <ul>
      <li class="link">Ajuda</li>
      <li><a routerLink="{{isLoggedIn == true ? '/forum' : '/login'}}" class="link" (click)="checksLogin()">Fórum</a></li>
      <li><a routerLink="{{isLoggedIn == true ? '/profiles' : '/login'}}" class="link" (click)="checksLogin()">Consultores</a></li>
      <li><a routerLink="{{isLoggedIn == true ? '/profile' : '/login'}}" class="login" (click)="checksLogin()">{{buttonState}}</a></li>
    </ul>
  </div>
  <div class="burger">
    ☰
  </div>
</header>
