header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-primary);
  font-weight: 600;
  font-size: 24px;
  background-color: #FEFEFE;
  margin-top: 2rem;
}

h1 {
  color: black;
  font-size: 28px;
  font-weight: 400;
}

span {
  color: var(--primary);
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  cursor: pointer;
}

a {
  color: var(--light-primary);
}

.login{
  color: white;
}

.header-wrapper ul{
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.link:hover {
  border-bottom: 3px solid var(--light-primary);
  margin-bottom: -4px;
  transition: .2s;
}

.login {
  background-color: #FEFEFE;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: white;
  border-radius: 24px;
  padding: 3px 30px;
}


.login:hover {
  border-bottom: 1px solid var(--light-primary);
  background-color: #ff4400cd;
  transition: 0.5s background-color;
}

.burger {
  display: none;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    align-items: center;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .header-wrapper {
    display: none;
  }

  .burger {
    display: block;
    font-size: 32px;
    color: var(--light-primary);
  }
}
