section .progress {
  width: 25%;
  margin: 3rem auto;
}

.progress-bar {
  background: radial-gradient(96.73% 47987.6% at 100% 100%, rgba(161, 119, 101, 0) 0%, #F9CA14 0%, #F69A12 14.58%, #E9783A 50%, #E9783A 65.1%, #FF4500 84.9%);
}

.skills {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.buttons {
  display: grid;
  grid-template-columns: 30% 50% 30%;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

button {
  background-color: transparent;
  border: none;
}

span {
  color : var(--primary);
  font-size: 30px;
  border-radius: 16px;
  color: var(--white);
  font-weight: 600;
  padding: 8px 32px;
  background-color: var(--primary);
}

.register{
  border: none;
  color : var(--primary);
  font-size: 28px;
  border-radius: 16px;
  color: var(--white);
  font-weight: 600;
  padding: 5px 40px;
  background-color: var(--primary);
}

button:last-of-type:hover, span:last-of-type:hover {
  background-color: #ff4400cd;
  transition: 1s background-color;
}
