<section>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <form>
    <div class="form-group">
        <h3>Adicione uma foto de perfil:</h3>
        <input #imageInput
               type="file"
               (change)="previewURL($event)"
               accept="image/*">
        <div class="warning" *ngIf="maxSize">{{warning}}</div>
        <img id="profile" [src]="imageSrc"/>
    </div>
    <div class="buttons">
      <button (click)="goBack(imageInput)"><span class="material-icons arrow">arrow_back</span></button>
      <button (click)="goForward(imageInput)"><span class="material-icons arrow">arrow_forward</span></button>
    </div>
  </form>
</section>
