
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search-box {
  margin: 4rem auto;
  position: relative;
  max-width: 50vw;
  width: 100%;
}

.search-box input {
  height: 40px;
  background-color: #F2F2F2;
  padding: 36px;
  border: none;
  border-radius: 14px 0 0 14px;
  grid-column: 1;
  font-size: 24px;
  width: 100%;
}

input:focus {
  outline: none;
}

.search-box button span {
  font-size: 40px;
  background-color: #EAEAEA;
  padding: 16px 30px;
  border-radius: 0 14px 14px 0;
  cursor: pointer;
  grid-column: 2;
}

span {
  color: var(--primary);
}

button {
  border: none;
  color: transparent;
  margin: 0;
  padding: 0;
  border-radius: 0 14px 14px 0;
}

@media screen and (max-width: 800px) {
  .search-box {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }

  .search-box input {
    width: 100%;
    margin: 0;
    font-size: 20px;
  }

}
