
.forum-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forum-card {
  max-width: 900px;
  box-shadow: 5px 12px 18px rgba(255, 206, 188, 0.2);
  padding: 40px;
  border-radius: 16px;
}

.post-info {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.post-info p {
  margin-bottom: 8px;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
}

.post-content {
  margin-top: 24px;
}

