<app-header></app-header>
<main>
  <div class="img-wrapper">
    <img src="assets/img/card-login.png">
  </div>
  <div class="login">
    <h2>Olá! Faça seu login</h2>
    <h3>Novo consultor? <span>Crie sua conta</span></h3>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" placeholder="exemplo@fcamara.com.br" name="loginOuEmail" [(ngModel)]="loginDetails.loginOuEmail">
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" name="password" [(ngModel)]="loginDetails.senha" placeholder="*******">
      </div>
      <button type="submit" (click)="login()">Entrar</button>
    </form>


  </div>
</main>
