<app-header></app-header>
<main>
  <h2>Boas-vindas, Consultor(a)</h2>
  <h3>Já tem uma conta? <a routerLink="/login">Faça o login</a></h3>
</main>
<app-register-info *ngIf="registerState=='info'" (onForward)="registerState='picture'"></app-register-info>
<app-register-picture *ngIf="registerState=='picture'" (onForward)="registerState='role'"></app-register-picture>
<app-register-role *ngIf="registerState=='role'" (onForward)="registerState='skill'"></app-register-role>
<app-register-skills *ngIf="registerState=='skill'"></app-register-skills>
<app-footer></app-footer>
