<app-header></app-header>
<main>
  <h2>Boas-vindas, Consultor(a)</h2>
  <h3>Já tem uma conta? <a routerLink="/login">Faça o login</a></h3>
</main>

<app-register-about></app-register-about>

<!-- <app-register-info *ngIf="registerState=='info'" (onForward)="registerState='picture'"></app-register-info>
<app-register-picture *ngIf="registerState=='picture'"  (onBackward)="registerState='info'" (onForward)="registerState='role'"></app-register-picture>
<app-register-role *ngIf="registerState=='role'" (onBackward)="registerState='picture'"  (onForward)="registerState='skill'" ></app-register-role>
<app-register-skills *ngIf="registerState=='skill'" (onBackward)="registerState='role'"  (onForward)="registerState='about'"></app-register-skills>
<app-register-about *ngIf="registerState=='about'" (onBackward)="registerState='skill'"></app-register-about> -->
<app-footer></app-footer>
