main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  width: 70%;
  border-radius: 16px;
  margin: 5rem auto 0 auto;
  box-shadow: var(--box-shadow);
  padding: 40px;
}

.img-wrapper {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 230px;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
}

.img-wrapper img {
  width: 100%;
  height: auto;
}

.name-title {
  align-self: center;
  text-align: center;
  color: #343434;
  margin-top: 1.5rem;
}

.name-title h2 {
  font-size: 36px;
}

.name-title h4{
  font-size: 24px;
  font-weight: 400;
}

h3 {
  color: #343434;
  font-size: 32px;
  margin-top: 2rem;
}

.abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 1rem 0 1rem 0;
}

.ability {
  background-color: #EBEBF2;
  color: #36357E;
  padding: 8px 38px;
  font-size: 24px;
  border-radius: 16px;
}

button {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 16px;
  width:500px;
  padding: 12px 12px;
  font-size: 24px;
  align-self: center;
  margin-top: 4rem;
}

a {
  color: white;
}

@media screen and (max-width: 800px) {
  section {
    width: 95%;
    padding: 16px;
    box-shadow: none;
  }

  .img-wrapper {
    width: 150px;
    height: 150px;
  }

  .name-title {
    font-size: 36px;
  }

  .name-title h2 {
    font-size: 30px;
  }

  .name-title h4{
    font-size: 24px;
  }

  h3 {
    color: #343434;
    font-size: 28px;
    margin-top: 2rem;
  }

  .abilities {
    gap: 16px;
  }

  .ability {
    font-size: 20px;
    padding: 8px 28px;
  }

  .contact-info {
    font-size: 20px;
  }

  button {
    width: 80%;
    margin-top: 3rem;
  }
}
