<app-header></app-header>
<main class="container" *ngIf="user">
  <section>
    <div class="img-wrapper">
      <img src={{imageUrl}}>
    </div>
    <div class="name-title">
      <h2>{{user.nome}}</h2>
      <h4>{{user.areaAtuacao}}</h4>
    </div>
    <h3>Habilidades</h3>
    <div class="abilities">
      <div *ngFor="let ability of user.habilidades">
        <p class="ability">{{ability}}</p>
      </div>
    </div>
    <div class="about">
      <h3>Conheça mais sobre {{user.nome}}</h3>
      <p>{{user.sobreMim}} </p>
    </div>
    <div class="contact-info">
      <h3>Contato</h3>
      <p>{{user.email}}</p>
    </div>
  </section>
  <button *ngIf="checkUser"><a (click)="logout()">Sair</a></button>
  <button *ngIf="!checkUser"><a href = "mailto:{{user.email}}">Entrar em contato</a></button>

</main>
<app-footer></app-footer>
