<app-header></app-header>
<main class="container">
  <section>
    <img src="assets/img/foto-fernanda.png">
    <div class="name-title">
      <h2>{{user.nome}}</h2>
      <h4>{{user.areaAtuacao}}</h4>
    </div>
    <h3>Habilidades</h3>
    <div class="abilities">
      <div *ngFor="let ability of user.habilidades">
        <p class="ability">{{ability}}</p>
      </div>
    </div>
    <div class="about">
      <h3>Conheça mais sobre {{user.nome}}</h3>
      <p>Sit odio natoque vitae risus id sem morbi elit porttitor. Velit ultrices tellus risus pretium vitae urna. Risus ornare quis sit eget eu. Duis sagittis venenatis, accumsan eu varius. Mattis condimentum diam sit elit, risus, nullam mauris morbi urna. Nisi in tempus, mi, nullam lorem feugiat id laoreet. </p>
    </div>
  </section>
  <button><a (click)="logout()">Sair</a></button>

</main>
<app-footer></app-footer>
