<body>
  <app-header></app-header>
  <main>
    <section class="intro">
      <div class="intro-title">
        <h2>A Technical Share é uma plataforma de <b>conexão</b> e troca de <b>conhecimento</b>.</h2>
        <button routerLink="{{isLoggedIn == true ? '/profiles' : '/register'}}" (click)="checksLogin()" >Comece agora</button>
      </div>
      <div class="main-img">
        <img src="assets/img/card-home.png">
      </div>
    </section>

    <section class="how-it-works">
      <div class="how-it-works-title">
        <img src="assets/img/detalhe-titulo.png">
        <h3>Novo por aqui? <span>Entenda como funciona</span></h3>
      </div>
      <div class="cards">
        <div class="card" *ngFor="let card of cards">
          <span class="material-icons">
            {{card.icon}}
          </span>
          <p>{{card.text}}</p>
        </div>
      </div>
    </section>

    <section class="mentoring">
      <div class="mentoring-title">
        <h3>Vamos subir cada degrau juntos. <span>Seja um mentor. Seja mentorado.</span></h3>
        <img src="assets/img/img-escada.png">
      </div>
      <div class="mentoring-wrapper">
        <div class="mentoring-content">
            <div class="mentoring-text">
              <p>Tem vontade de ensinar?</p>
              <p>Aprenda enquanto mentora outros consultores da FCamara. Aqui você encontra profissionais dispostos a te ouvir.</p>
            </div>
          <div class="vertical-line"></div>
          <div class="mentoring-text">
            <p>Tem alguma dúvida? </p>
            <p>Na Technical Share você encontra todos os consultores da FCamara e tem a oportunidade de agendar mentorias. </p>
          </div>
        </div>
      </div>
      <button routerLink="{{isLoggedIn == true ? '/profiles' : '/register'}}" (click)="checksLogin()" >Comece agora</button>
    </section>

    <div class="companies">
      <section class="card-company">
        <h4 class="logo">Technical<span>Share</span></h4>
        <img src="assets/img/img-technical-share.png">
        <p>Unindo time, cultura e método, criamos soluções customizadas e escaláveis para inovar em produtos e serviços com a utilização de metodologias ágeis. Atuamos no desenvolvimento de aplicativos, plataformas e integrações, com conhecimento do negócio, gestão enxuta, AI, IoT, nuvem, blockchain, entre outros.</p>
      </section>

      <section class="card-company">
        <img src="assets/img/fcamara-logo.png" class="logo">
        <img src="assets/img/img-fcamara.png" class="img-fcamara">
        <p>Unindo time, cultura e método, criamos soluções customizadas e escaláveis para inovar em produtos e serviços com a utilização de metodologias ágeis. Atuamos no desenvolvimento de aplicativos, plataformas e integrações, com conhecimento do negócio, gestão enxuta, AI, IoT, nuvem, blockchain, entre outros.</p>
      </section>
    </div>
    <div class="button d-flex justify-content-center">
      <button><a href=#>Voltar ao início</a></button>
    </div>
  </main>
  <app-footer></app-footer>
</body>



