/* INTRO SECTION */
main {
  background-color: white;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5em;
}

.intro-title {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  gap: 48px;
  margin-left: 190px;
}

h2 {
  width: 463px;
  font-weight: 400;
  font-size: 36px;
}

b {
  font-weight: 600;
}

button {
  width: 280px;
  color:var(--light-white);
  border: none;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 24px;
}

button:hover {
  background-color: #ff4400cd;
  transition: 1s
}

a {
  color: white;
}

.main-img img{
  width: 670px;
}


/* HOW IT WORKS SECTION */

.how-it-works-title {
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

h3 {
  font-size: 36px;
  font-weight: 400;
}

h3 span {
  color: var(--primary);
  font-size: 36px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 352px;
  height: 322px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 36px;
  background-color: white;
  color: var(--black);
  box-shadow: var(--box-shadow);
  border-radius: 36px;
}

.card span {
  font-size: 94px;
  color: var(--primary);
}

.card p {
  width: 140px;
  text-align: center;
}

/* MENTORING SECTION */

.mentoring {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mentoring-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mentoring-title h3 {
  align-self: center;
  margin-top: 12rem;
  margin-bottom: 5rem;
}

.mentoring-title img {
  align-self: center;
}

.mentoring-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mentoring-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.mentoring-content {
  font-size: 28px;
  display: grid;
  grid-template-columns: 600px 100px 600px;
  margin-top: 96px;
  justify-items: center;
  align-items: center;
}

.mentoring-content p:first-of-type {
  color: var(--primary);
  font-weight: 600;
}

.vertical-line {
  height: 178px;
  width: 1px;
  background-color: var(--black);
  align-self: center;

}

.mentoring button {
  margin: 8rem auto 0 auto;
  align-self: center;
}

.categories h3 {
  font-size: 36px;
  margin-left: 28px;
  margin-bottom: 3rem;
  margin-top: 6rem;
}


/* FCAMARA SECTION */
.companies{
  margin-top: 9rem;
}

.card-company {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  border-radius: 32px;
  box-shadow: 5px 12px 18px rgba(255, 206, 188, 0.2);
  padding: 32px;
  width: 75%;
}

.logo{
  grid-column: 2;
}

.img-fcamara{
  grid-row: 2;
  grid-column: 1;
}

.card-company p {
  grid-column: 2;
  grid-row: 2;
  font-size: 26px;
}

.card-company h4{
 font-size: 48px;;
}

.card-company span {
  color: var(--primary);
}

@media screen and (max-width: 800px) {
  .main-img img, .card-company:first-of-type img, .img-fcamara {
    display: none;
  }

  .intro {
    margin-top: 2.5em;
  }

  .intro-title {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro {
    font-size: 22px;
    justify-content: center;
  }

  h2{
    width: 100%;
    font-size: 34px;
  }

  button {
    margin-top: 0;
  }

  .how-it-works-title {
    gap: 1.5rem;
  }

  .cards {
    gap: 1.5rem;
    margin: 0 auto;
  }

  .card {
    height: 100%;
    width: 70%;
    padding: 1rem;
    gap: 8px;
    padding: 1rem;
  }

  .mentoring-title {
    margin: 5rem auto;
  }

  .mentoring-title h3,
  .mentoring-title span{
    font-size: 32px;
    width: 90%;
    margin: 0;
  }

  .mentoring-title img {
    margin-top: 2rem;
    width: 90%;
  }

  .vertical-line {
    display: none;
  }

  .mentoring-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    margin: 1rem ;
  }

  .categories h3 {
    margin-top: 0;
  }

  .mentoring button {
    margin-top: 2rem;
  }

  .companies {
    margin-top: 4rem;
  }

  .card-company {
    margin: 1rem auto;
    padding: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 90%;
  }

  .card-company h4 {
    font-size: 36px;
  }

  .logo {
    width: 60%;
  }

  .card-company p {
    font-size: 18px;

  }

  .container {
    margin: 0;
  }
}
