<section>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <form>
    <div class="form-group">
      <label for="role">Escreva seu atual cargo na FCamara</label>
      <input type="text" placeholder="Ex: Dev Front-End Pleno" name="role" id="role" required [(ngModel)]="userRole">
    </div>
    <div class="buttons">
      <button (click)="goBack()"><span class="material-icons arrow">arrow_back</span></button>
      <button (click)="goForward()"><span class="material-icons arrow">arrow_forward</span>
      </button>
    </div>
  </form>
</section>
