<div class="forum-cards">
  <div class="forum-card">
    <div class="post-info">
      <div class="img-wrapper">
        <img src="{{imageUrl}}">
      </div>
      <div class="post-wrapper">
        <p><a routerLink = '/profile/{{post.usuario.login}}'>{{post.usuario.nome}}</a></p>
        <h4><a routerLink = '/post/{{post.id}}'>{{post.titulo}}</a></h4>
        <p class="post-content">{{post.conteudo}}</p>
      </div>
    </div>
    <div class="post-details">
      <div class="comment-info">
        <span class="material-icons">
          chat_bubble_outline
          </span>
          <p>{{post.comentarios.length}}</p>
      </div>
      <button a routerLink = '/post/{{post.id}}' *ngIf="router.url == '/forum'">
        <span class="material-icons arrow">
          arrow_forward
          </span>
      </button>
    </div>
  </div>
</div>
