
.forum-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-bottom: 3rem;;
}

.forum-card {
  box-shadow: var(--box-shadow);
  padding: 40px;
  border-radius: 16px;
  width: 950px;
}

.post-info {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.post-info p {
  margin-bottom: 8px;
}

.img-wrapper {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
}

.post-content {
  margin-top: 24px;
}

.post-details {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-details span.arrow {
  background-color: var(--primary);
  border-radius: 16px;
  border: 1px solid var(--light-primary);
  color: var(--white);
  font-weight: 600;
  height: 35px;
  vertical-align: middle;
  margin: 0;
  padding: 5px 20px;
}

.comment-info {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 24px;
}

.comment-info span {
  font-size: 30px;
}

span {
  color : var(--primary);
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #FFEAE2;
  color: var(--primary);
  border: none;
  border-radius: 16px;
  padding: 4px 30px;
}

button:hover {
  color: white;
  background-color: var(--primary);
}

h4 {
  font-size: 32px;
}
