<div class="forum-cards">
  <div class="forum-card">
    <div class="post-info">
      <img src="assets/img/foto-amanda.png">
      <div class="post-wrapper">
        <p>Amanda Silva</p>
        <h4><a routerLink = '/post/{{post.id}}'>{{post.titulo}}</a></h4>
      </div>
    </div>
    <div class="post-content">
      {{post.conteudo}}
    </div>
    <div class="post-details">
      <div class="comment-info">
        <span class="material-icons">
          chat_bubble_outline
          </span>
          <p>2</p>
      </div>
      <button routerLink="/post" *ngIf="router.url == '/forum'">
        <span class="material-icons arrow">
          arrow_forward
          </span>
      </button>
    </div>
  </div>
</div>
