.slide {
  position: relative;
  z-index: 2;
  margin: 2rem 1rem;
}

.img-wrapper img {
  border-radius: 16px;
  width: 100%;
}

.info-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 2;
  color: black;
  font-weight: 300;
  width: 100%;
  background-color: white;
  box-shadow: 5px 12px 18px rgba(255, 206, 188, 0.2);
  border-radius: 0 0 16px 16px;
}

h4 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}

.info-wrapper .title {
  font-size: 16px;
  margin-bottom: 10px;
}

.info-wrapper .skills {
  display: inline-block;
  padding: 4px 15px;
  border-radius: 16px;
  margin: 5px 8px 5px 0;
  height: 100%;
  background-color: #EBEBF2;
  color: var(--secondary);
}

.info-wrapper .links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;

}

.info-wrapper .links p,
.info-wrapper .links span {
  cursor: pointer;
}
.info-wrapper .links p{
  font-weight: 600;
}

.info-wrapper .links p:first-of-type:hover{
  text-decoration: underline;
}

.info-wrapper .links span {
  background-color: var(--primary);
  border-radius: 16px;
  border: 1px solid var(--light-primary);
  color: var(--white);
  font-weight: 600;
  height: 35px;
  vertical-align: middle;
  margin: 0;
  padding: 5px 20px;
}

.info-wrapper .links span:hover {
  background-color: var(--light-primary);
  transition: 1s;
}

a {
  color: black;
}
