
    <div class="slide">
      <div class="img-wrapper">
        <img [src]="slide.src">
      </div>
      <div class="info-wrapper">
        <h4>{{slide.nome}}</h4>
        <div class="title">{{slide.title}}</div>
        <div class="skills" *ngFor="let skill of slide.skills">
          {{skill}}
        </div>
        <div class="links">
          <p>Ver perfil</p>
          <span class="material-icons">
            arrow_forward
            </span>
        </div>
        </div>
      </div>
