.slide {
  position: relative;
  z-index: 2;
  margin: 2rem 2rem;
}

.img-wrapper img {
  border-radius: 16px;
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.info-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 2;
  color: black;
  font-weight: 300;
  width: 100%;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 0 0 16px 16px;
}

h4 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}

.info-wrapper .title {
  font-size: 16px;
  margin-bottom: 10px;
}

.info-wrapper .skills {
  display: inline-block;
  padding: 4px 15px;
  border-radius: 16px;
  margin: 5px 8px 5px 0;
  height: 100%;
  background-color: #EBEBF2;
  color: var(--secondary);
}

.info-wrapper .links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;

}

.info-wrapper .links button{
  cursor: pointer;
  background-color: #FFEAE2;
  border: none;
  border-radius: 16px;
  padding: 5px 10px;
  width: 100%;
  font-size: 20px;
}

button:hover {
  background-color: white;
  color: var(--primary);
}


.links a {
  color: var(--primary);
}

a {
  color: black;
}

@media screen and (max-width: 800px) {
  .img-wrapper img {
    height: 200px;
    border-radius: 16px 16px 0 0;
  }

  .info-wrapper {
    border-radius: 0 0 16px 16px ;
    position: relative;
  }

  .slide {
    margin: 2rem 0;
    width: 100%;
  }
}
