
    <div class="slide">
      <div class="img-wrapper">
        <img src="{{imageUrl}}">
      </div>
      <div class="info-wrapper">
        <h4><a routerLink = '/profile/{{user.login}}'>{{user.nome}}</a></h4>
        <div class="title">{{user.areaAtuacao}}</div>
        <div class="skills" *ngFor="let habilidade of user.habilidades">
          {{habilidade}}
        </div>
        <div class="links">
          <p><a routerLink = '/profile/{{user.login}}'>Ver perfil</a></p>
          <span class="material-icons">
            arrow_forward
            </span>
        </div>
        </div>
      </div>
