<app-header></app-header>
<main>
  <section class="intro">
    <div class="intro-text">
      <div class="intro-text-img">
        <img src={{loggedUserImageUrl}}>
      </div>
      <h2>Bem-vindo(a), <span>{{loggedUser.nome}}!</span></h2>
      <p>Aqui você encontra pessoas com conhecimentos diversos para tirar suas dúvidas sobre a área ou te orientar no aprendizado de novas habilidades.</p>
    </div>
    <div class="intro-img">
      <img src="assets/img/card-profile.png">
    </div>
  </section>

  <app-search-bar placeholder="Encontre mentores" (onSearch)="handleSearch($event)"></app-search-bar>

  <section class="cards">
    <div class="title-wrapper">
      <img src="assets/img/detalhe-titulo.png">
      <h3>Destaques em <span>Front-End</span></h3>
    </div>
    <div class="carousel container">
      <app-carousel [users]="users"></app-carousel>
    </div>
  </section>

  <section>
    <div class="title-wrapper">
      <img src="assets/img/detalhe-titulo.png">
      <h3>Populares no <span>Fórum</span></h3>
    </div>
    <div class="categories container">
      <app-forum-post *ngFor = "let post of posts" [post]="post"></app-forum-post>
    </div>
  </section>

  <section>
    <div class="title-wrapper">
      <img src="assets/img/detalhe-titulo.png">
      <h3>Você tem alguma dúvida? <span>Encontre consultores por suas habilidades: </span></h3>
    </div>
    <div class="container">
      <app-categories (onChange)="updateSelectedCategories($event)"></app-categories>
    </div>
   </section>

   <section>
    <div class="title-wrapper">
      <img src="assets/img/detalhe-titulo.png">
      <h3>Conheça os nossos consultores</h3>
    </div>
    <div class="profiles slide-wrapper" >
        <app-card-profile *ngFor = "let user of filteredUsers" class="slide" [user]="user"></app-card-profile>
    </div>
    <div *ngIf="noResults" class="no-results">
      <img src="assets/img/laranjo.png">
      <p>Desculpe, não encontramos nenhum perfil com essa tag.</p>
    </div>
  </section>
</main>

<app-footer></app-footer>
