<main class="container">
  <div class="logo">
    <h1>Technical <span>Share</span></h1>
  </div>

  <section class="intro">
    <div class="intro-text">
      <h2>Bem-vinda, {{user}}!</h2>
      <p>Aqui você encontra pessoas com conhecimentos diversos para <b>tirar suas dúvidas</b> sobre a área ou te <b>orientar no aprendizado</b> de novas habilidades.</p>
    </div>
    <div class="intro-img">
      <img src="assets/img/card-profile.png">
    </div>
  </section>

  <section class="search-box">
    <span class="material-icons">search</span>
    <input type="search" placeholder="Encontre mentores e skills">
  </section>

  <section class="cards">
    <h3>Destaques em <span>Front-End</span></h3>
  </section>
</main>
