
.intro {
  font-size: 38px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  position: relative;
}

.intro-text{
  width: 640px;
  margin-left: 10rem;
}

.intro-text h2 {
  font-weight: 500;
  font-size: 36px;
  margin-top: 32px;
}

.intro-text p {
  margin-top: 32px;
  font-size: 28px;
  font-weight: 400;
  width: 565px
}

.intro-text img {
  width: 140px;
}

.intro-img img {
  width: 650px;
}

.search-box {
  display: grid;
  justify-content: center;
  margin: 6rem auto;
  position: relative;
}

.search-box input {
  height: 40px;
  width: 50rem;
  background-color: #F2F2F2;
  padding: 36px;
  border: none;
  border-radius: 14px 0 0 14px;
  grid-column: 1;
}

input:focus {
  outline: none;
}

.search-box span {
  position: absolute;
  font-size: 40px;
  background-color: #EAEAEA;
  padding: 16px 30px;
  border-radius: 0 14px 14px 0;
  cursor: pointer;
  grid-column: 2;
}

span {
  color: var(--primary);
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 28px;
}

.cards {
  margin-top: 10rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 54px;
}


.forum h3, .profiles h3 {
  margin-left: 28px;
  margin-bottom: 3rem;
}

.forum-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forum-card {
  max-width: 900px;
  box-shadow: 5px 12px 18px rgba(255, 206, 188, 0.2);
  padding: 40px;
}

.post-info {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.post-info p {
  margin-bottom: 8px;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
}

.post-content {
  margin-top: 24px;
}

.post-details {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-details span.arrow {
  background-color: var(--primary);
  border-radius: 16px;
  border: 1px solid var(--light-primary);
  color: var(--white);
  font-weight: 600;
  height: 35px;
  vertical-align: middle;
  margin: 0;
  padding: 5px 20px;
}

.comment-info {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 24px;
}

.comment-info span {
  font-size: 30px;
}



.profiles {
  margin-top: 8rem;
}

.slide-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px
}

.slide {
  position: relative;
  z-index: 2;
  height: 100%;

  margin: 2rem 1rem;
}

.img-wrapper img {
  border-radius: 16px;
}

.info-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 2;
  color: black;
  font-weight: 300;
  width: 100%;
  background-color: white;
  box-shadow: 5px 12px 18px rgba(255, 206, 188, 0.2);
  border-radius: 0 0 16px 16px;
}

h4 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}

.info-wrapper .title {
  font-size: 16px;
  margin-bottom: 10px;
}

.info-wrapper .skills {
  display: inline-block;
  padding: 4px 15px;
  border-radius: 16px;
  margin: 5px 8px 5px 0;
  height: 100%;
  background-color: #EBEBF2;
  color: var(--secondary);
}

.info-wrapper .links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;

}

.info-wrapper .links p,
.info-wrapper .links span {
  cursor: pointer;
}
.info-wrapper .links p{
  font-weight: 600;
}

.info-wrapper .links p:first-of-type:hover{
  text-decoration: underline;
}

.info-wrapper .links span {
  background-color: var(--primary);
  border-radius: 16px;
  border: 1px solid var(--light-primary);
  color: var(--white);
  font-weight: 600;
  height: 35px;
  vertical-align: middle;
  margin: 0;
  padding: 5px 20px;
}

.info-wrapper .links span:hover {
  background-color: var(--light-primary);
  transition: 1s;
}

