
.intro {
  font-size: 38px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  position: relative;
}

.intro-text {
  width: 640px;
  margin-left: 10rem;
}

.intro-text h2 {
  font-weight: 500;
  font-size: 36px;
  margin-top: 32px;
}

.intro-text p {
  margin-top: 32px;
  font-size: 28px;
  font-weight: 400;
  width: 565px
}

.intro-text-img {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
}

.intro-text-img img {
  width: 100%;
  height: auto;
}

.intro-img img {
  width: 650px;
}

span {
  color: var(--primary);
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 1rem;
}

.cards {
  margin-top: 10rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 36px;
}

.slide-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 4rem;
}

.container {
  margin-bottom: 6rem;
}

.slide {
  width: 30%;
}

.no-results {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.no-results img {
  width: 200px;
  margin-bottom: 2rem;
}

.no-results p {
  text-align: center;
  width: 400px;
}

@media screen and (max-width: 800px) {
  .intro {
    width: 100%;
  }

  .intro-img {
    display: none;
  }

  .intro-text p {
    width: 100%;
  }

  h2 {
    width: 100%;
    text-align: center;
  }

  .intro-text {
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .intro-text img {
    width: 100px;
  }

  .intro-text p {
    display: none;
  }

  .cards {
    margin-top: 5rem;
  }

  h3 {
    font-size: 32px;
  }

  .profiles, .profiles h3  {
    margin-bottom: 0;
  }

  .slide-wrapper {
    margin: 0;
    gap: 16px;
  }

  .slides {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }

  .title-wrapper {
    gap: 16px;
  }

  .forum {
    display: none;
  }
}

