.slide-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.slide {
  width: 30%;
}

.no-results {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.no-results img {
  width: 200px;
  margin-bottom: 2rem;
}

.no-results p {
  text-align: center;
  width: 400px;
}

@media screen and (max-width: 800px) {
  .search {
    margin-top: 2rem;
  }

  .slide-wrapper {
    gap: 8px;
  }

  .slide {
    width: 70%;
  }
}
